#formspage{
	min-height:100vh;
}
#startform{
	margin-top: 15vh;
	margin-bottom: 70px;
	background: #E0E4CC;
	color: #34434D;
	text-align: left;
	border-radius: 5px;
	box-shadow: inset 0 0 10px #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}
#startform form{
	margin: 15px;
}
#startform label{
	color: #34434D;
	margin-top: 5px;
	font-size: 20px;
}
#startform select{
	width: 100%;
	height: 30px;
	text-align: right;
	color: #34434D;
	margin-top: 5px;
	font-size: 14px;
}
#startform option{
	color: #34434D;
	font-size: 14px;
}
#startform input{
	width: 100%;
	color: #34434D;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}
#startform button{
	margin-top: 20px;
}
