#main-image{
	width: 100%;
	height: 100vh;
}
#main-tagline{
	margin-top: -60vh;
}
#main-tagline button{
	width: 150px;
	height: 45px;
	border-radius: 0px;
}
#main-tagline button strong{
	font-size: 20px;
}

#main-tagline #login{
	margin-left: -75px;
}
#main-tagline #signup{
	margin-left: 75px;
}
#all-products{
	text-align: center;
}
#all-products h1{
	margin-bottom: 40px;
}
#all-products #product{
	border: 1px solid #FFF5B9;
	padding: 10px;
	/*margin: auto;*/
	border-radius: 5px;
	min-height: 370px;
	margin-left: 6%;
	margin-top: 20px;
}
