{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Duggal Industries</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/productform.css' %}">
    <link rel="stylesheet" href="{% static 'css/cementprice.css' %}">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top" id="header">
		    <div class="container">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#"><strong>Duggal Building Material Store</strong></a>
			    </div>
			    <ul class="nav navbar-nav" id="nav-list" style="float:right; color: #EA4525;">
				    <li><a href="/"><strong>Home</strong></a></li>
				    <li><a href="/#product"><strong>Products</strong></a></li>
				    <li><a href="#"><strong>Contact Us</strong></a></li>
				    <li><a href="#"><strong>About Us</strong></a></li>
			    </ul>
		    </div>
		</nav>
		<div class="container-fluid" id="main-content">
			<div class = "row">
				<div class="col-md-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div class ="" id="footer">
			
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){       
	    var scroll_start = 0;
	    var startchange = $('#header');
	    var offset = startchange.offset();
	    $(document).scroll(function() { 
        scroll_start = $(this).scrollTop();
        if(scroll_start > offset.top) {
        	$('#header').css('background-color', 'rgba(34,34,34,1.0)');
        } else {
          	$('#header').css('background-color', 'transparent');
        }
   		});
		});
	</script>
</body>
</html>