{% extends 'webportal/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="row" id="cart">
		<div class="col-md-10 col-md-offset-1" id="startform">
			<h1>CART</h1>
			{% if user.is_authenticated %}
				{% for allproducts in productList %}
				 {% for key,value in allproducts.items %}
					 {{key}}--------{{value}}<br/>
				 {% endfor %}<hr/>
			 	{% endfor %}

				<div class="row" id="formspage">
					<div class="col-md-7 col-md-offset-3" id="startform">
						<form method="POST" action="/noway/" id="cartform">{% csrf_token %}
							{{ form.as_p }}
							<button class="btn btn-success" type="submit" >Checkout</button>
						</form>
					</div>
				</div>

			{% else %}
				<p>
					You need to be logged in to watch that.<br/>
					<a href = "/accounts/login">
						<button class = "btn btn-success">
							LOGIN
						</button>
					</a>
				</p>
	 	 	{% endif %}
		</div>
	</div>

{% endblock %}
